* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav-items > a:focus {
    text-decoration: underline;
}

nav > a {
    text-decoration: none;
}

.header {
    height: 20vh;
    font-family: 'Inter', sans-serif;
    background-color: #FFF7ED;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > a {
    text-decoration: none;
    color: #000000;
    font-weight: 900;
    margin-left: 20px;
    font-size: 1.5rem;
}

.header > div {
    margin: 20px;
}

.nav-items {
    display: flex;
    gap: 10px;
}

.nav-items > a {
    text-decoration: none;
    color: #4D4D4D;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    background: url("./mountain.png");
    background-size: cover;
    background-position: center;
    gap: 20px;
    
}

.home > h1 {
    margin: 0 30px;
    font-size: 2rem;
    color: white;
    font-family: "Inter", sans-serif;
}

.home >p {
    color: white;
    margin: 0 30px;
}

.home > button {
    background-color: #FF8C38;
    width: min(70vw, 500px);
    padding: 10px;
    border-radius: 5px;;
    color: white;
    font-family: "Inter", sans-serif;
    margin: 20px 30px 0;
    border: none;
    
}

.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    color: #AAAAAA;
}

.about {
    background-color: #FFF7ED;
    font-family: 'Inter', sans-serif;
}

.about > img {
    width: 100%;
    display: block;
    
}

.about > .text-content {
    
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.about > h1 {
    color: #161616;
    font-weight: 700;
    font-size: 2rem;
}

.about > .text {
    font-weight: 500;
    line-height: 22px;
}

.about .cta {
    background-color: #FFCC8D;
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.about .cta > h1 {
    font-size: 1.5rem;
}

.about .cta > button {
    font-family: 'Inter', sans-serif;
    background-color: #161616;
    color: white;
    border-radius: 10px;
    padding: 10px
    
    
}